@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
  body {
    @apply bg-slate-900 font-body px-5 text-white;
  }
  img {
    @apply select-none;
  }
}
@layer components {
  .page-container {
    max-width: 1440px;
    @apply mx-auto;
  }
  .movie-card {
    max-width: 500px;
  }
  .movie-list .swiper-slide {
    width: 300px;
    height: auto;
  }
  .banner .swiper {
    height: 100%;
  }
  .movie-page {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .character-list .swiper-slide {
    width: 150px;
    height: auto;
  }
  .overview {
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  .selected {
    @apply text-primary;
  }
}

.swiper-scrollbar-drag {
  background: #ffffff !important;
  opacity: 0.3 !important;
}

.swiper-scrollbar {
  background: #1e293b !important;
}

.swiper-horizontal > .swiper-scrollbar {
  height: 8px !important;
}

.overview-person {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.no-select {
  user-select: none;
}

.movie-card:hover > .image > img {
  transform: scale(1.5);
  transition: transform 0.4s ease-in-out;
}

.footer-container {
  grid-template-columns: 3fr 1fr 1fr;
}
